<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Sign Up | J2EE Lab 6</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
    <link rel="stylesheet" th:href="@{/style.css}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
<nav class="navbar navbar-light bg-dark">
    <a class="navbar-brand text-white" href="#">
        <img th:src="@{/icon.png}" alt="Logo" class="icon"/>
        &nbsp;&nbsp;Mihir's E-learning Platform &nbsp;&nbsp;
    </a>
</nav>

<div class="d-flex justify-content-center">
    <div class="card w-50 my-5">
        <div class="card-body">
            <h4 class="text-center">Student Registration</h4>

            <p id="message" class="alert alert-info text-center" style="display: none;"></p>

            <h5 class="text-center text-primary">Sign Up</h5>

            <form id="signUpForm">
                <div class="form-group">
                    <label>First Name <span class="required-field">*</span></label>
                    <input type="text" id="firstName" class="form-control" />
                    <span id="firstNameError" style="color: red;"></span>
                </div>
                <div class="form-group">
                    <label>Last Name <span class="required-field">*</span></label>
                    <input type="text" id="lastName" class="form-control" />
                    <span id="lastNameError" style="color: red;"></span>
                </div>
                <div class="form-group">
                    <label>Email <span class="required-field">*</span></label>
                    <input type="text" id="email" class="form-control" />
                    <span id="emailError" style="color: red;"></span>
                </div>
                <div class="form-group">
                    <label>Username <span class="required-field">*</span></label>
                    <input type="text" id="userName" class="form-control" />
                    <span id="userNameError" style="color: red;"></span>
                </div>
                <div class="form-group">
                    <label>Password <span class="required-field">*</span></label>
                    <input type="password" id="password" class="form-control" />
                    <span id="passwordError" style="color: red;"></span>
                </div>
                <div class="form-group">
                    <label>Address <span class="required-field">*</span></label>
                    <input type="text" id="address" class="form-control" />
                    <span id="addressError" style="color: red;"></span>
                </div>
                <div class="form-group">
                    <label>City <span class="required-field">*</span></label>
                    <input type="text" id="city" class="form-control" />
                    <span id="cityError" style="color: red;"></span>
                </div>
                <div class="form-group">
                    <label>Postal Code <span class="required-field">*</span></label>
                    <input type="text" id="postalCode" class="form-control" />
                    <span id="postalCodeError" style="color: red;"></span>
                </div>
                <button type="submit" class="btn btn-success">Register</button>
                <a href="/" class="btn btn-secondary">Login</a>
            </form>
        </div>
    </div>
</div>

<script>
    $(document).ready(function() {
        $('#signUpForm').on('submit', function(event) {
            event.preventDefault();

            const userData = {
                firstName: $('#firstName').val(),
                lastName: $('#lastName').val(),
                email: $('#email').val(),
                userName: $('#userName').val(),
                password: $('#password').val(),
                address: $('#address').val(),
                city: $('#city').val(),
                postalCode: $('#postalCode').val()
            };

            // Make POST request to the API
            $.ajax({
                url: '/api/signup',  // REST API URL
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify(userData),
                success: function(response) {
                    $('#message').text(response.message).show();
                },
                error: function(xhr) {
                    const errors = xhr.responseJSON.errors;
                    if (errors) {
                        for (const [field, message] of Object.entries(errors)) {
                            $(`#${field}Error`).text(message);
                        }
                    }
                }
            });
        });
    });
</script>
</body>
</html>
